doctype html 
html 
    head 
        title Robin's Dance Academy 
        block scripts
        block style 
    body
        nav#navbar 
            ul 
                li  #[a(href="/") #[span Home]]
                li  #[a(href="/") #[span About]]
                li  #[a(href="/") #[span Services]]
                li  #[a(href="/") #[span Class info]]
                li  #[a(href="/") #[span Contact us]]
                 
        block content 
        footer#footer 
            p Copyright© 2022 Robin's Dance Academy
            p | All Right Reserved |